<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="21.2.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EPPlus" version="4.5.3.3" targetFramework="net45" />
  <package id="GleamTech.Common" version="4.5.1" targetFramework="net45" />
  <package id="GleamTech.DocumentUltimate" version="5.9.1" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net45" />
  <package id="NLog" version="4.7.7" targetFramework="net45" />
  <package id="NLog.Config" version="4.7.7" targetFramework="net45" />
  <package id="NLog.Schema" version="4.7.7" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess" version="19.7.0" targetFramework="net45" />
</packages>